
body{
  font-family: 'Poppins',sans sherif;
  display: flex;
  flex-direction: column;
}
.container{
  // display: flex;
  position: relative;
  margin:45px 0;
}
.col-6{
  border: solid;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: solid 2px grey;
}
.faire{
  border-left: none;
}
button{
  width: 75%;
  height: 50px;
  background: #324161;
  border: none;
  color:white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  font-size:16px;
}
.form-group{
  padding: 20px;


}
.row{
  display: flex;
  text-align: center;
  justify-content: center;
  position:relative;
}
.input{
  width: 80%;
  height: 50px;
 border-bottom: solid 1px grey ;
 outline: none;
 border-top: none;
 border-left: none;
 border-right: none;
 background:#e3e4e3;


}
input:focus{
 border-bottom:solid 3px #324161;
}

p{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.footer{
  margin: 10px;
}
.footer a{
  margin-left: 62px ;
  text-decoration: none;
}
.group{
  position: relative;
  bottom: -95.5px;
}
p, .group{
  flex-grow:1;
}
h3{
  font-family: 'Poppins',sans-serif;
  color: #324161;
  font-size: 22px;
  color: #324161;
}
@media screen and (max-width:1250px) {
  .input{
      width: 100%;
  }
  button{
      width: 100%;
  }
  .faire{
      width: 100%;
  }
  .faire2{
      width: 100%;
      padding: 14px;
      border-left: none;
  }
  .group{
      top: 2px;
  }

}
