  
    <br><br><br>
    <div class="container">
        <div class="row">
          
            <div class="col-6 image">
              <h6>vos visuels</h6>
              <img [src]="url" width="100" alt="">
              <img  [src]="imagepreview " width="100" alt="">
              <br><br><br>
    
              <div class="row">
                <h6>Vos maquettes</h6>
               
                <div class="col-12">
                  <img [src]="viewimage" width="100" alt="maquette 1">
                  <img [src]="ViewImg" width="100" alt="">
                </div>
              </div>
            </div>
           
            <div class="col-6 " >
              <!--Type de tee-shirt-->
              <div class="type_shirt" style="margin-top: 16px;">
                <h6>Type de tee-shirt(Qualité)</h6>
                <input type="checkbox" class="btn-check" id="btn-check6" name="check" autocomplete="off" required="true"/>
                <label class="btn btt" id="chk" for="btn-check6" (click)="affprice($event)" >1/40 t-shirt blanc</label>
    
                <input type="checkbox" class="btn-check" id="btn-check7" name="check" autocomplete="off" required="true"/>
                <label class="btn btt" id="chk" for="btn-check7" (click)="showpricetcolor($event)">1/40 t-shirt couleur</label>
    
                <input type="checkbox" class="btn-check" id="btn-check8" name="check" autocomplete="off" required="true" />
                <label class="btn btt" id="chk" for="btn-check8" (click)="showpricepolo($event)" >1/40 Polo blanc</label>
    
                <input type="checkbox" class="btn-check" id="btn-check9" name="check" autocomplete="off" required="true" />
                <label class="btn btt" id="chk" for="btn-check9" (click)="showpricetordi($event)" >t-shirt ordinaire</label>
    
                <input type="checkbox" class="btn-check" id="btn-check" name="check" autocomplete="off" required="true" />
                <label class="btn btt" id="chk" for="btn-check" (click)="showpricecoton($event)" >t-shirt Polycoton</label>
              </div>
                <!--fin-->
                 <!--question-->
                 <div class="question">
                  <h6>Y'a-t-il une face arrière?</h6>
                   <div class="oui">
                     <label for="">Oui</label>
                     <input type="radio" name="rd" id="rd"  (click)="View()" >
                   </div>
                   <div class="oui">
                     <label for="">Non</label>
                     <input type="radio" name="rd" id="non" (click)="view2()" >
                   </div>
                 </div>
                 <!--fin-->
                  <!--visuel-->
                    <div class="visuel" *ngIf='visible'>
                      <h6>importer vos visuels</h6>
                      <div class="btn btne">
                  
                        <label class="des" for="filess">
                        Face arrière
                          <i class="fas fa-arrow-circle-up fa-2x"></i>
                        </label>
                          <input type="file" name="u" id="filess" hidden (change)="Uplode($event)">
                      </div>
                    </div>
                  <!--fin--> 
                
                 <!--maquette-->
                 <div class="maquette">
                  <h6>Importer vos maquettes:</h6>
                  <div class="btn" >
                    <label class="des" for="file">
                    importe maquette face avant
                    <i class="fas fa-arrow-circle-up fa-2x"></i>
                    </label>
                    <input type="file" name="" id="file" hidden (change)='Uplade($event)'>
                   </div>
                   <div class="btn" *ngIf='visible'>
                    <label class="des" for="fil">
                    importe maquette face arrière
                    <i class="fas fa-arrow-circle-up fa-2x"></i>
                    </label>
                    <input type="file" name="" id="fil" hidden (change)='Upladeimage($event)'>
                   </div>
                 </div>
              <br><br>
             <!--Choice  color--> 
             <div class="choisir" *ngIf="hide">
               <label for="couleur" class="choix">Nombre de couleurs:</label>
             <input type="number" name="color" class="form-control input" id="ic" [(ngModel)]="nbcolorserie" (input)="InputChange()" >
             </div>
             <div class="choisir"  *ngIf="isbord">
              <label for="couleur" class="choix">Nombre de couleurs:</label>
             <input type="number" name="color" class="form-control input" id="ic" [(ngModel)]="mybodr" (input)="InputChangeB($event)" >

            </div>
            <!--fin-->
            <!--choice child or grand-->
            <div class="choix" *ngIf="hidechoice">
              
              <label class="lab" for="">Enfant</label>
              <input class="radio" type="radio" name="rad" id="" (click)='viewchildopt()'>
             <span style="position: relative;
             bottom: 9px;
             /* width: 42px; */
             margin: 12px;"> /</span>
              <label class="lab"  for="">Grande Personne</label>
              <input  class="radio" type="radio" name="rad" id="" (click)='viewpersonopt()' >
        
            </div>
            <div class="child" *ngIf="hidechildopt">
              <label class="lab" for="">Avec photo</label>
              <input  class="radio" type="radio" name="picture" id="" (click)="showpriceAPchild($event)">
    
              <label class="lab" for="">Sans photo</label>
              <input  class="radio" type="radio" name="picture" id="" (click)=" showpriceSPchild($event)">
            </div>
            <div class="grdpersin" *ngIf="hidepersonopt">
              <label class="lab" for="">Avec photo</label>
              <input  class="radio" type="radio" name="grd" id="" (click)="showpriceAPGperson($event)">
    
              <label class="lab" for="">Sans photo</label>
              <input  class="radio" type="radio" name="grd" id="" (click)="showpriceSPGperson($event)">
            </div>
            <br>
            <!--fin-->
               <div class="row" *ngIf="hiderow">
                <h4 style="float: right;" *ngIf="promo1">
                  <p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">prix unitaire:</p>{{Price}} FCFA</h4>
                <h4 style="float: right;" *ngIf="(promo)"><p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">prix unitaire:</p><del style="color: red;"> {{Price}} FCFA</del> <strong style="margin: 6px;">{{newprice}} fcfa</strong></h4>
                <input type="number" hidden [(ngModel)]="Price">
                <!--Type d'impression-->
                   <div class="col-6">
                    <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                              <a role="button" data-toggle="collapse" data-target="#impression" aria-expanded="true" aria-controls="collapseOne">
                              Type d'impression
                              </a>
                          </div>
                      
                          <div id="impression" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                              <div class="serie">
                                <label for="">Serigraphie</label>
                                <input type="radio" name="radio" class="for"   id="sg" (click)='cacher()'>
                              </div>
                              <hr>
                              <div class="serie">
                                <label for="">Broderie</label>
                                <input type="radio" name="radio" class="for" id="brd" (click)='cachebrd()'>
                              </div>
                              <hr>
                              <div class="serie">
                                <label for="">Flexographie</label>
                                <input type="radio" name="radio" class="for" id="flx" (click)='cacheflx()'>
                              </div>
                              <hr>
                              <div class="serie">
                                <label for="">Transfert</label>
                                <input type="radio" name="radio" class="for" id="trf" (click)='showtransfert()'>
                              </div>
                              <hr>
                              <div class="serie">
                                <label for="">Sublimation</label>
                                <input type="radio" name="radio" class="for" id="sub" (click)='showsublime()'>
                              </div>
                              <hr>
                              
                            </div>
                          </div>
                        </div>
                    </div>
                   </div>
                   <!--quantité et taille-->
                   <div class="col-6">
                    
                    <div id="accordion1">
                        <div class="card">
                          <div class="card-header" id="heading">
                              <a role="button" data-toggle="collapse" data-target="#quantite" aria-expanded="true" aria-controls="collapseOne">
                              Quantité et taille
                              </a>
                          </div>
                      
                          <div id="quantite" class="collapse show" aria-labelledby="heading" data-parent="#accordion1">
                            <div class="card-body">
                              <div class="inpute">
                                <label for="">M</label>
                                <div class="inputed">
                                  <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)="QtminusM($event)"></i></a>
                                  <span>{{QtM}}</span>
                                  <input type="number" name="qtm" id="" hidden [(ngModel)]="QtM">
                                  <a class="plus" (click)="QtplusM($event)"  role="button"><i class="fad fa-plus-circle fa-x"  ></i></a>
                                </div>
                              </div>
                              <hr>
                              <div class="inpute">
                                <label for="">S</label>
                                <div class="inputed">
                                  <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusS($event)'></i></a>
                                  <span>{{QtS}}</span>
                                  <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x" (click)='QtplusS($event)' ></i></a>
                                </div>
                              </div>
                              <hr>
                              <div class="inpute">
                                <label for="">L</label>
                                <div class="inputed">
                                  <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusL($event)'></i></a>
                                  <span> {{QtL}}</span>
                                  <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x" (click)='QtplusL($event)'></i></a>
                                </div>
                              </div>
                              <hr>
                              <div class="inpute xl">
                                <label for="">XL</label>
                                <div class="inputed xxl">
                                  <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusXL($event)'></i></a>
                                  <span>{{QtXL}}</span>
                                  <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x"  (click)='QtplusXL($event)'></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
               </div>
               <button class=" btn btn-primary" type="submit" style="float: left;" (click)="ChangeComponent(chanecpt)" style="background-color: royalblue;">Retour</button>

               <button class="btn-success" type="submit" style="float: right;" (click)="Addtocart()">Ajouter au panier</button>
            </div>
        </div>
    </div>
    
  <br><br>