

    <div class="row" > 

     
      <div id='mycol' class="mycol">  
        <style>
    
      

       
      
        @media screen and (min-width: 680px) {
          
      #mycol{
      height: auto;
      width: auto;
      margin-left: 80px;
      margin-right: 10%;
      background: #fff !important;
      margin-right: 0px;
      text-transform: lowercase;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 15px white solid;
      text-align: center;
      top: 0%;
      }
     
     
      .d{
        display: none;
      }
      .face-sm{
        display: none;
      }
      .face{
        margin-top: 0%;
        margin-bottom: 30%;
        margin-left: 25%;
        display: inline-block;
        position: relative;
      }
      
      .menu-text{
           margin-left: 58%;
            position:fixed;
          top:25%;
                         
      }
      .menu-text-sm{
        display: none;
      }
      }
      
      @media screen and (max-width: 680px) {

    .menu-text{
      display: none;
    }
    .menu-text-sm{
      top:25%;
      position: fixed;
      margin-left: 10%;
      width: 100%;
    }
       
      #mycol{
      display: none;
      }
     
      .face{
        display: none;
      }
      .d{
        width: 100%;
        display: inline-flex;
        top: 80%;
        margin-bottom: 15%;
        height: 5%;
        position: absolute;

      }
      .face-small{
        margin-top: 0%;
        margin-bottom: 80%;
        margin-left: 25%;
        display: inline-block;
        position: relative;

      }
      .f{
        width: 100%;
        margin-right: 0%;
        display: flex;
        margin-left: 40%;
      }
     
      
      }
      
      .btn{
        text-transform: lowercase;
      }
       </style> 
       
        <div class="row auto-max">
      
          <a class="btn"  data-toggle="modal" data-target="#products" title="Les produits">Produits</a>
      
         </div>
        
         <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">
      
      
        <div class="row auto-max">
      
          <a class="btn" data-toggle="modal" data-target="#shape" title="Les formes"><i class="fa fa-shapes"></i>
            elements
          </a>
      
         </div>
      
         <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">
      
        <div class="row auto-max">
          <a class="btn"  data-toggle="modal" data-target="#clips" title="Les cliparts" ><i class="fab fa-artstation"></i>
            cliparts
          </a>
      
         </div>

         <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">
      
         <div class="row auto-max">
      
            <input type="file" id="file" name="link"class="file-upload" (change)="onFileUpload($event)">
      
            <a class="btn" ><label for="file" class="importer" title="  Importer ma marquete"><i class="fas fa-cloud-upload-alt"></i>
              images
            </label></a>
         </div>
         <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">
      
         <div class="row auto-max" data-toggle="tooltip" data-placement="top" title="mes designs" >
      
            <button type="button"  class="btn btn-primary position-relative" data-toggle="modal" data-target="#detail" title="Mes designs">
            mes designs à commander
            <br>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              
              {{mydesigns}}
            </span>
          </button>

      </div>
   
      <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">

      <div class="row auto-max " >
        <a class="btn btn-lg btn-success" (click)="savedesigns()" data-toggle="tooltip" data-placement="top" title="Enregistrer le design"><i class="far fa-save fa-7x"></i>
          Enregistrer
        </a>
       <br>
       


    </div>


      <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">
      
      <span *ngIf="false" class="auto-max" data-toggle="tooltip" data-placement="top" title="couleur du produit"  style="color: #324161;">    
        <a  class="btn auto-max text-primary"  data-toggle="collapse" data-target="#couleur" aria-expanded="false" aria-controls="couleur" id="clr" >
       COULEUR DU PRODUIT
        </a>
      </span>
      <div class="row auto-max" data-toggle="tooltip" data-placement="top" title="mes designs" hidden>
      
        <a class="btn" (click)="createcanvas()"> Creer zone de saisir</a>
    </div>

      </div>
      <br><br>
            <div class="col-4" id="aladin-wraper"  style="background: white !important;" (contextmenu)="OnRightClick($event)">  
              <div id="mydiv" hidden>
                <canvas height="200" width="200" hidden style="position: absolute; margin-left: 25%;margin-top: 0%; top:25% ; bottom: 0%;border: indigo dashed 2px; cursor:move;" draggable = "true"></canvas>

              </div>
                 
              <div>
                    <canvas id="drawing-here"  height="600" width="600"  style=" left: 10%;position: absolute; margin-left: 2%;margin-top: 5%; border: indigo dashed 2px; " >
                    </canvas>
                  </div>
                   

                    <button class="btn btn-sm"  disabled style="top:0%; position:absolute; bottom: 5%; margin-left: 50%;" *ngIf="spinner">
                      <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
                      Loading...
                    </button>

                      <canvas  id="aladin"   height="400" width="400" style="position: absolute; margin-left: 35%;margin-top: 20%; background-color: none transparent; bottom: 0%;border: indigo dashed 2px;" >

                      </canvas>

                      <div hidden id="myca" style="margin-left: 25%;margin-top: 0%;position: absolute; top:25% ; bottom: 0%;border: indigo dashed 2px;cursor:move;" draggable="true" (ondragstart)="drag($event)">
                        <canvas  height="300" width="300" hidden ></canvas>

                      </div>
                      
                    </div> 
                   
                    

                    <div class="col-6 menu-text texty" style="position: absolute;">
                      <app-aladin-text (newTextPlusEvent)="textwidthplusOne($event)" (newTextWidthtEvent)="textwidth($event)" (newTextMinusEvent)="textwidthminus($event)" (newTextEvent)="createText($event)" (newTextOverlineEvent)="overLineText($event)"  (newTextRemoveEvent)="removeItem()" (newTextFontEvent)="Textfont($event)" (newTextColorEvent)="texteclor($event)" (newTextUnderlineEvent)="underLineText()" (newTextBoldEvent)="boldText($event)" (newTextItalicEvent)="ItalicText($event)" (newTextReturnEvent)="setTextBeforeEdit()" (newTextCopyEvent)="Copy()" (newTextPasteEvent)="Paste()" (newTextStrokeEvent)="setStroke($event)" (newshadowingEvent)="setshdow($event)"></app-aladin-text> 
                     
                  
                      </div>

                      <div class="col-6 menu-text-sm " >
                        <app-aladin-text (newTextPlusEvent)="textwidthplusOne($event)" (newTextWidthtEvent)="textwidth($event)" (newTextMinusEvent)="textwidthminus($event)" (newTextEvent)="createText($event)" (newTextOverlineEvent)="overLineText($event)"  (newTextRemoveEvent)="removeItem()" (newTextFontEvent)="Textfont($event)" (newTextColorEvent)="texteclor($event)" (newTextUnderlineEvent)="underLineText()" (newTextBoldEvent)="boldText($event)" (newTextItalicEvent)="ItalicText($event)" (newTextReturnEvent)="setTextBeforeEdit()" (newTextCopyEvent)="Copy()" (newTextPasteEvent)="Paste()" (newTextStrokeEvent)="setStroke($event)" (newshadowingEvent)="setshdow($event)"></app-aladin-text> 
                       
                    
                      </div>
                    <br>
         
                      <div class="row" style="float: left;">
                    
              <div class="col-1 d-flex  " style="margin-left:5% ;" >
                <app-aladin-faces [URL]="face1" [face1]="face2" (newItemEvent)="turnImage($event)"  class="face"></app-aladin-faces>

              </div>
              </div>
          
        <div class="modal fade" id="examleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <div class="modal-body modale">
                <a  data-toggle="tooltip" data-placement="top" title="Mettre en gras" (click)="boldText($event)">
                <i  class="fa fa-bold"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="Italic" (click)="ItalicText($event)">
                <i class="fa fa-italic"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="Sourligner" (click)="underLineText()">
                <i class="fa fa-underline"></i>
              </a>
           
                <a  data-toggle="tooltip" data-placement="top" title="Supprimer" (click)='removeItem()'>
                <i style="color: red;" class="fa fa-trash-alt"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="Copier" (click)="Copy()">
                <i class="fa fa-copy"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="Coller" (click)="Paste()">
                <i class="fa fa-paste"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="annuler" (click)="setTextBeforeEdit()">
                <i class="fa fa-sync"></i>
                </a>
                <color-circle [colors]="colorarray" (onChange)="texteclor($event)"></color-circle>
                
              </div>
             
            </div>
            
          </div>
        </div>

      </div>
      <a data-toggle="modal" data-target="#examleModal" id="xdv" hidden>
      </a>

      <div id="detail" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm modal-lg">
            <div class="modal-content">
                <div class="modal-body">
               <div class="row">
                <h1 style="font-family: 'Times New Roman', Times, serif;">Emballages</h1>
                <app-aladin-designs-packs  [face1]="category" [face2]="category"  *ngIf="iscloth"></app-aladin-designs-packs>
                <app-aladin-designs-packs [face1]="origin_1" [face2]="origin_2 " *ngIf="ispack"></app-aladin-designs-packs>
               </div>
           
             <hr>
             <br><br>
             <div class="row">
               <h1 style="font-family:'Times New Roman', Times, serif ;">Vetements</h1>
              <app-aladin-designs-clothes [face1]="origin_1" [face2]="origin_2" *ngIf="iscloth"></app-aladin-designs-clothes>
              <app-aladin-designs-clothes [face1]="category" [face2]="category" *ngIf="ispack"></app-aladin-designs-clothes>
 
             </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="designing">Fermer</button>
                </div>
            </div>
        </div>
      </div>
      
        <div class="modal fade " id="products">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body col">
              
                <app-aladin-products (newItem)="setImage($event)" [data]="data"></app-aladin-products>
  
            
                </div>
              <div class="modal-footer col-lg-2 col-md-3">
                <button type="button" class="btn btn-lg btn-block text-white float-right" id="closept" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade " id="clips">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body col">
      
      
                <app-aladin-cliparts (newItemEvent)="setItem($event)"></app-aladin-cliparts>
  
    
                </div>
              <div class="modal-footer col-lg-2 col-md-3 ">
                <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;" id="closeclip">fermer</button>
              </div>
            </div>
          </div>
        </div>
      
        <div class="modal fade" id="shape">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body col">
               
               <app-aladin-shapes (newItemEvent)="setItem($event)"></app-aladin-shapes>
               
                 </div>
              <div class="modal-footer col-lg-2 col-md-3 ">
                <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;" id="closeshape">fermer</button>
              </div>
            </div>
          </div>
        
      
      
      </div>

<br><br><br><br>
<br><br>

<div class="row d ">
  <div class="col-1 d-flex" style="margin-left:50% ;" >
    <app-aladin-faces [URL]="face1" [face1]="face2" (newItemEvent)="turnImage($event)"  class="face-small"></app-aladin-faces>

  </div>


  <div class="col-11 d-flex " style="background: #fff !important; margin-left: 5%; ">
<a  class="btn-lg"  data-toggle="modal" data-target="#products"><br> produits</a>
<div class="vl" ></div>

<a class="btn-lg" data-toggle="modal" data-target="#shape" ><i class="fa fa-shapes"></i>elements</a>

<div class="vl" ></div>

<a class="btn-lg"  data-toggle="modal" data-target="#clips" ><i class="fab fa-artstation"></i>cliparts</a>
<div class="vl" ></div>

<input type="file" id ="file" name="link"class="file-upload" (change)="onFileUpload($event)">
<img  (click)="setItem($event)" hidden id="imgup">

<a class="btn-lg" ><label for="file" class="importer"><i class="fas fa-cloud-upload-alt"></i></label>images</a>

<div class="vl" ></div>


<a class="btn-lg " (click)="savedesigns()" data-toggle="tooltip" data-placement="top" title="Enregistrer le design"><i class="far fa-save fa-7x"></i>Enregistrer</a>
<div class="vl" ></div>

<style>
  .vl{
    border-left: 1px dashed blue;
  height: auto;
  background: white !important;
  }
</style>
  
  <a type="button" class="btn-lg " data-toggle="modal" data-target="#detail" title="Mes designs" style="height: 50%; background: #fff !important;">
    <br>
    commander
  </a>

  </div>

</div>


<style>
  a{
    text-transform: lowercase;
  }
  .model{
    
     top:0%;
     display: inline-flex;

  }
  
  </style>
<br><br><br>
<br><br><br>
