
<app-header [fromhome]="fromhome"></app-header>
<div class="container-flex" style="z-index: -1;">
<app-header3  *ngIf="show"></app-header3 >
</div>

<br><br><br>

<div *ngIf="editor">
    <br><br><br><br>
</div>
<div class="section" >
    
    <app-product ></app-product>
   
    <app-aladin [data]="data" *ngIf="editor"  id="editor"></app-aladin>

    <app-cartitems *ngIf="cart" id="cart"></app-cartitems>

</div>




<div class="section">
 

    <app-home1 *ngIf="show"></app-home1>


</div>

<br>
<br>
<div class="container-flex">
<app-footer></app-footer>
</div>

