<app-header></app-header>
  
<div class="container-fluid" style="width: 100%;position: sticky;">
  <app-header-categorie></app-header-categorie>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-6" style="border: solid 1px green;text-align: center;">
            <h6>visuel</h6>
            <div class="visuel" style="display: flex;">
                
                <img [src]="url" width="250" alt="">
                <img [src]="imagepreview" width="250" alt="">
            </div>
            <h6>maquette</h6>
            <div class="maquette" style="display: flex;">
              
                <img [src]="viewimage" width="250" alt="">
                <img [src]="ViewImg" width="250" alt="">
            </div>
        </div>
        <div class="col-6">
           <!--tasse-->
           <div class="tasse" *ngIf="tasse">
             <div class="type">
              <strong style="color:#324161"> Les type de tasses</strong>
              <p><strong style="color: red;">{{err}}</strong></p>
             </div>
            <input type="radio" class="btn-check" name="options" id="stand" autocomplete="off">
            <label class="btn btn-outline-danger" for="stand" (click)="showmagprice()">tasse magique (4000 fcfa) </label>

            <input type="radio" class="btn-check" name="options" id="sup" autocomplete="off">
            <label class="btn btn-outline-danger" for="sup" (click)="showordiprice()"> tasse ordinaire (3000 fcfa)</label>

           </div>
           <br>
           <!--stylo-->
           <div class="stylo" *ngIf="stylo">
            <strong style="color:#324161"> Les type de Stylo</strong>
            <p><strong style="color:red" *ngIf="ert">{{error}}</strong></p>
             <div class="type">

                <input type="radio" class="btn-check" name="options" id="stylo" autocomplete="off">
                <label class="btn btn-outline-danger" for="stylo" (click)="showpblicprice()" >Stylo grand public </label>

                <input type="radio" class="btn-check" name="options" id="semi" autocomplete="off" disabled>
                <label class="btn btn-outline-danger" for="semi" aria-disabled="true" >Stylo sémi VIP </label>

                <input type="radio" class="btn-check" name="options" id="vip" autocomplete="off" disabled >
                <label class="btn btn-outline-danger" for="vip" aria-disabled="true">Stylo VIP </label>
            </div>
            <br>
            <strong style="color:#324161"> Les type d'impression</strong>

            <p><strong style="color:red" *ngIf="er">{{err}}</strong></p>
            <div class="impri">
              <input type="radio" class="btn-check" name="optio" id="seri" autocomplete="off" >
              <label class="btn btn-outline-danger" for="seri" (click)= "showseriprice()"  >Sérigraphie(150 fcfa)</label> 

              <input type="radio" class="btn-check" name="optio" id="transfert" autocomplete="off" >
              <label class="btn btn-outline-danger" for="transfert" (click)= "showtrftprice()"   >Transfert(100 fcfa)</label> 

              <input type="radio" class="btn-check" name="optio" id="uv" autocomplete="off" >
              <label class="btn btn-outline-danger" for="uv" (click)= "showuvprice()"  >UV(350 fcfa)</label> 
            </div>
           </div>
           <br>
           <!--porte cle-->
          <div class="cle" *ngIf="portcle">
           <strong style="color:#324161"> Les type de Porte-clé</strong>
           <p><strong style="color: red;">{{err}}</strong></p>
           <div class="portecle">
            <input type="radio" class="btn-check" name="op" id="port" autocomplete="off">
            <label class="btn btn-outline-danger" for="port" (click)="showporteprice()" >Plastique (300 fcfa) </label>

           </div>
          </div> 
             <br>
            <!--question-->
            <div class="question" style="display: flex;">
                <h6 style="margin-top: 10px;">Y'a-t-il une face arrière?</h6>
                 <div class="oui">
                   <label for="">Oui</label>
                   <input type="radio" name="rd" id="rde" (click)='showoui()'  >
                 </div>
            </div>
               <!--fin-->
               
                 <!--visuel-->
                
                 <div class="visuel" *ngIf="oui" >
                    <h6>importer vos visuels</h6>
                    <p><strong style="color:red" >{{errfile}}</strong></p>
                    <div class="btn ebtn" style="width: 44%">
                
                      <label class="des" for="filess">
                      Face arrière
                        <i class="fas fa-arrow-circle-up fa-2x"></i>
                      </label>
                        <input type="file" name="u" id="filess" hidden (change)="Uplode($event)">
                    </div>
                  </div>
                  <br>
                <!--fin--> 
               <!--maquette-->
               <h6>Importer vos maquettes:</h6>
               
               <div class="maquette" style="display: flex;">
                <div class="btn ebtn" >
                  <label class="des" for="file">
                  importe maquette face avant
                  <i class="fas fa-arrow-circle-up fa-2x"></i>
                  </label>
                  <input type="file" name="" id="file" hidden (change)='Uplade($event)'>
                 </div>
                 <div class="btn ebtn" *ngIf="oui" >
                  <label class="des" for="fil">
                  importe maquette face arrière
                  <i class="fas fa-arrow-circle-up fa-2x"></i>
                  </label>
                  <input type="file" name="" id="fil" hidden (change)='Upladeimage($event)'>
                 </div>
                
               </div>
               <p><strong style="color:red" >{{errfile4}}</strong></p>
               <br>
               <!--qantite-->
                <div class="quantite" *ngIf="tasse">
                  <label for="">Quantité:</label>
                  <input type="text" class="form-control" [(ngModel)]="quantitetasse">
                </div>
                <!--quantite de stylo et porte-cle-->
                <div class="quantite" style="display:flex;" *ngIf="stylo || portcle">
                  <label for="">Quantité</label>
                  <div class="moins">
                    <a class="btn btnt" (click)="qtyminus()">
                      <i class="fal fa-minus-circle fa-2x"></i>
                    </a>
                  </div>
                  <input  type="text" class="form-control cont" disabled  [(ngModel)]="qnte">
                  <div class="plus">
                    <a class="btn btnt" (click)="qtyplus()">
                      <i class="fal fa-plus-circle fa-2x"></i>
                    </a>
                  </div>
                </div>
                <br>
                <div class="pri">
                  <h4 style="float: left;"><p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">
                    prix unitaire:</p>{{Price}}  FCFA</h4>
                </div>
                <br>
                <div class="panier">
                  <button class="btn-success btne" type="submit" style="float: right;" (click)="addtocart()">Ajouter au panier</button>
                </div>


        </div>
    </div>
</div>
<br>
<app-footer></app-footer>