

.container{
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 76px;
  display: block;
  font-family: 'Poppins', sans-serif;
}

.group-form{
  padding: 10px;
  width: 100%;
}
.col-8{
width: 100%;
display: flex;
}
input{
  width: 50%;
  height: 50px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px grey;
  font-size: 13px;
  font-weight: bold;
}
input:focus{
  border-bottom:solid 3px #324161;
}
button{
  width: 50%;
  height: 48px;
  border: none;
  margin-top: 16px;
  background-color: #324161;
  color: white;

}
p{
  margin-left: 25%;
  margin-right: 25%;
  text-align: initial;
  font-size: 15px;
  font-weight: bold;
  color: darkblue;
}
@media screen and (max-width:1250px) {
  input{
      width: 100%;
  }
  button{
      width: 100%;
  }

}
